.RaLayout-root-1 {
    background-color:#5d5d5d !important

}
.MuiAppBar-colorSecondary {
    color: #fff  !important;
    background-color: #000000 !important;
}
.RaLogin-main-21 {
    background-image: radial-gradient(circle at 50% 14em, #8e59af 0%, #00023b 60%, #00023b 100%) !important;
}